body {
}

main {
	display: block;
	width: 75%;
	margin: 0 auto;
	background-color: #DDD;
}

pre,
code {
  background-color: #fafaff;
  border: 1px solid #c6c4f4;
  border-radius: 4px;
  color: #3632ad;
  font-family: "Courier New", "Courier", monospace;
  white-space: pre-wrap;
}

pre {
  padding: 5px;
}

code {
  padding: 2px 5px;
}


pre code {
  background-color: transparent;
  border-radius: 0;
  border: none;
}

.blogPre {
	display: block;
	min-height: 200px;
	border: 2px solid black;
	width: 90%;
	background-color: #CCC;
	margin: 0 auto 10px;
	box-sizing: border-box;
	text-decoration: none;
	color: black;
}

.blogPre .name {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding-left: 10px;
	font-size: 52px;
	font-weight: bold;
	background-color: #D7C5C1;
	border-bottom: 2px solid black;
}

.blogPre .description {
	display: block;
	width: 70%;
	margin: 0 auto;
	font-size: 24px;
}